body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-item {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
}

#carty {
    display: none;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}

nav button {
    margin: 0 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.tab {
    padding: 20px;
}


img {
 width: 500px;
 height: 400px;
}

.car {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    display: block;
}


.car-info {
    flex: 5; /* Дозволяє тексту займати залишковий простір */
}

